*{
  padding: 0;
  margin: 0;
}

html{
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background: black;
  opacity: 0.9;
  text-align: center;
}

header{
  position: fixed;
  width: 100%;
  height: 69px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
}

header .nav a{
  color: seashell;
  text-decoration: underline;
}
