*{
  padding: 0;
  margin: 0;
}

html{
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background: black;
  opacity: 0.9;
  text-align: center;
}

h2{
  background: black;
}

h4{
  background: black;
}
/*header section*/
header{
  position: fixed;
  width: 100%;
  height: 69px;
  padding: 10px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  z-index: 1;
}

/*Header section*/
header .nav a{
  color: seashell;
  text-decoration: underline;
}

/*Main section*/
.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;/*centers the objects*/
  position: relative;
  top: 70px;
}

/*Our Mission section*/
.main .mission{
  display: flex;
  width: 1200px;
  height: 700px;
  margin: auto;
  margin-bottom: 50px;
  background-image: url(./images/img-mission-background.jpg);
  justify-content: center;
  flex-direction: column;
}

/*Tea of The Month section*/
.main .TOM{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1000px;
  margin-bottom: 50px;
}

.main .TOM .headlines{
  display: flex;
  flex-direction: column;
}

.main .TOM .menue{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main .TOM .menue .menue-item{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.main .TOM .menue .menue-item img{
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

/*Locatinos section*/
.main .locations{
  background-image: url("./images/img-locations-background.jpg");
  margin: 0 auto;
  height: 600px; /*I gave the location element 600px height so that more of the
  tea cup would be shown (as shown in the redline)*/
  width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .locations h2{
  background: none;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 15px;
}

.main .locations .all-locations{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .locations .all-locations .loc{
  background-color: black;
  opacity: 1;
  width: 300px;
  height: 250px;
  margin: 40px;
}

.main .locations .all-locations .loc h3{
  margin: 15px auto;
}

.main .locations .all-locations .loc p{
  margin: 50px auto;
}
/*contact Us section*/

.main .CU{
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: auto;
  padding: 20px;
}

.main .CU h5{
  margin: 20px auto;
}

/*copyright section*/
.copyright{
  display: block;
  text-align: left;
  margin: 20px;
  font-weight: bold;
  font-size: 16px;
}
